* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background: $secondary-color;
  color: #f7f7f7;

  font: 400 1.6rem $text-font;
}

.container {
  max-width: 1160px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  display: grid;

  @media (max-width: 700px) {
    grid-template-columns: 1fr !important;
  }
}

.content {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (max-width: 500px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.title {
  font: 700 4.8rem $title-font;
  color: $color-title;
  position: relative;
  z-index: 2;

  @media (max-width: 450px) {
    font-size: 3.6rem;
  }
}

.text {
  color: #dedede;
  font-family: $text-font;
  font-size: 1.8rem;
  line-height: 1.5em;
  margin: 30px 0;

  @media (max-width: 450px) {
    font-size: 1.6rem;
    margin: 20px 0;
  }
}

.btn {
  cursor: pointer;
  display: block;
  width: max-content;
  padding: 10px 20px;

  background: $additional-color1;
  border-radius: 25px;

  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: $color-title;

  transition: box-shadow 500ms, transform 500ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.1), inset 0 -49px 0 0 #673025;
    transform: scale(1.05);
  }

  @media (max-width: 450px) {
    padding: 8px 16px;
    font-size: 1.8rem;
  }
}
