.header {
  position: static;

  padding: 20px 0;

  transition: all 0.5s ease;

  &--scroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background: rgba($secondary-color, 0.5);
    backdrop-filter: blur(25px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    z-index: 99;
    padding: 20px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 120px;
    height: 58px;
    object-fit: contain;
  }

  &__nav ul {
    display: flex;
    gap: 40px;

    a {
      position: relative;
      display: block;

      font-size: 1.8rem;
      color: #dedede;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;

        display: block;
        background: $additional-color1;
        height: 2px;
        width: 100%;

        opacity: 0;
        visibility: hidden;
        transform: translate3d(0, 0, 0);

        transition: transform 800ms, opacity 400ms, visibility 800ms;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      &:hover {
        color: #f7f7f7;

        &::after {
          opacity: 1;
          visibility: visible;
          transform: translate3d(0, 10px, 0);
        }
      }
    }
  }
}
