#portfolio {
  &.container {
    grid-template-columns: 5fr 6fr;
    gap: 40px;

    @media (max-width: 900px) {
      grid-template-columns: 1fr;
    }
  }

  .content__title {
    @include insertMarking('../assets/marking3.svg');
  }

  .portfolio__see-images {
    height: 450px;
    display: flex;
    gap: 0;

    @media (max-width: 550px) {
      flex-direction: column;

      .portfolio__see-images__images-control {
        flex-direction: row;

        img {
          transform: translateY(-100px);
        }
      }
    }

    &.active {
      gap: 20px;

      .portfolio__see-images__main-image::after {
        background-color: transparent;
      }

      .see-image__button {
        position: absolute;
        top: 20px;
        right: 20px;

        background: transparent;
        &:hover {
          box-shadow: none;
        }
      }

      .portfolio__see-images__images-control {
        width: 100px;
        height: auto;

        img {
          visibility: visible;
          transform: translateX(0);
          border-width: 2px !important;
          border-style: solid !important;
          border-color: transparent;
        }
      }
    }

    &__main-image {
      position: relative;
      width: 100%;
      height: 100%;

      background-image: url('../assets/image-portfolio.png');
      background-repeat: no-repeat;
      background-size: cover;

      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 25px;
      z-index: 2;

      &:hover::after {
        background-color: rgba($primary-color1, 0.5);
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: rgba($primary-color1, 0.75);
        border-radius: 25px;
        transition: background-color 500ms;
      }
    }

    .see-image__button {
      z-index: 2;
      position: relative;
      top: 0;
      right: 0;
      transition-property: top, right, position;
      transition-duration: 700ms;
    }

    &__images-control {
      width: 0;
      height: 0;

      display: flex;
      flex-direction: column;
      gap: 10px;

      @for $i from 1 through 2 {
        img:nth-child(#{$i}) {
          transition: all 0.5s, transform 500ms * $i;
        }
      }

      img {
        object-fit: cover;
        height: 70px;
        cursor: pointer;
        border-radius: 10px;
        opacity: 0.5;
        border: none;

        visibility: hidden;
        transform: translateX(-100px);

        &.active {
          cursor: default;
          opacity: 1;
          border-color: $additional-color1 !important;
        }
      }
    }
  }
}
