$color-title: #f8ffed;
$primary-color1: #424b35;
$primary-color2: #353d2b;
$secondary-color: rgb(23, 30, 19);
$additional-color1: #a83b24;
$additional-color2: #673025;

$text-font: 'Lato', sans-serif;
$title-font: 'Nunito', sans-serif;
