* { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

:root { scroll-behavior: smooth; font-size: 62.5%; }

img { display: block; max-width: 100%; }

body { background: #171e13; color: #f7f7f7; font: 400 1.6rem "Lato", sans-serif; }

.container { max-width: 1160px; padding: 0 20px; margin: 0 auto; display: -ms-grid; display: grid; }

.content { padding: 60px 0; }

.title { font: 700 4.8rem "Nunito", sans-serif; color: #f8ffed; position: relative; z-index: 2; }

.text { color: #dedede; font-family: "Lato", sans-serif; font-size: 1.8rem; line-height: 1.5em; margin: 30px 0; }

.btn { cursor: pointer; display: block; width: -webkit-max-content; width: -moz-max-content; width: max-content; padding: 10px 20px; background: #a83b24; border-radius: 25px; font-size: 2.4rem; font-weight: 400; line-height: 2.4rem; color: #f8ffed; -webkit-transition: -webkit-box-shadow 500ms, -webkit-transform 500ms; transition: -webkit-box-shadow 500ms, -webkit-transform 500ms; transition: box-shadow 500ms, transform 500ms; transition: box-shadow 500ms, transform 500ms, -webkit-box-shadow 500ms, -webkit-transform 500ms; -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); }

.btn:hover { -webkit-box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.1), inset 0 -49px 0 0 #673025; box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.1), inset 0 -49px 0 0 #673025; -webkit-transform: scale(1.05); transform: scale(1.05); }

*, *:before, *:after { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

button, input, textarea { outline: none; border: none; color: inherit; font-family: inherit; }

a { text-decoration: none; color: inherit; }

ol, ul { list-style: none; }

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, footer, header, nav, section, main { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

h1, h2, h3, h4, h5, h6, p, a, ul { font-size: 1em; font-weight: normal; }

.header { position: static; padding: 20px 0; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }

.header--scroll { position: fixed; top: 0; left: 0; width: 100%; background: rgba(23, 30, 19, 0.5); -webkit-backdrop-filter: blur(25px); backdrop-filter: blur(25px); border-bottom: 1px solid rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1); z-index: 99; padding: 20px; }

.header .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.header__logo { width: 120px; height: 58px; -o-object-fit: contain; object-fit: contain; }

.header__nav ul { display: -webkit-box; display: -ms-flexbox; display: flex; gap: 40px; }

.header__nav ul a { position: relative; display: block; font-size: 1.8rem; color: #dedede; }

.header__nav ul a::after { content: ''; position: absolute; bottom: 0; left: 0; display: block; background: #a83b24; height: 2px; width: 100%; opacity: 0; visibility: hidden; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-transition: opacity 400ms, visibility 800ms, -webkit-transform 800ms; transition: opacity 400ms, visibility 800ms, -webkit-transform 800ms; transition: transform 800ms, opacity 400ms, visibility 800ms; transition: transform 800ms, opacity 400ms, visibility 800ms, -webkit-transform 800ms; -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); }

.header__nav ul a:hover { color: #f7f7f7; }

.header__nav ul a:hover::after { opacity: 1; visibility: visible; -webkit-transform: translate3d(0, 10px, 0); transform: translate3d(0, 10px, 0); }

.cover { background: url(../assets/shape1.svg) no-repeat, url(../assets/shape2.svg) no-repeat; background-position: left top, right top; background-size: auto 100%, contain contain; }

#home { display: -ms-grid; display: grid; -ms-grid-columns: 2fr 1fr; grid-template-columns: 2fr 1fr; gap: 40px; }

.home__presentation .presentation__title { font: 400 9.6rem/10.7rem "Nunito", sans-serif; max-width: 460px; color: #f8ffed; margin-bottom: 30px; }

.home__presentation .presentation__title--days { font-weight: 700; position: relative; z-index: 2; }

.home__presentation .presentation__title--days::after { content: ''; display: block; position: absolute; top: 0; left: -5px; background-image: url(../assets/marking1.svg); z-index: -1; width: 128px; height: 128px; }

#about-us { background: #424b35; }

#about-us .content { display: -ms-grid; display: grid; -ms-grid-columns: 5fr 6fr; grid-template-columns: 5fr 6fr; -webkit-box-align: center; -ms-flex-align: center; align-items: center; gap: 40px; }

#about-us .about-us__image { -webkit-box-shadow: 0px 16px 16px -4px rgba(0, 0, 0, 0.1); box-shadow: 0px 16px 16px -4px rgba(0, 0, 0, 0.1); -webkit-filter: drop-shadow(-40px -40px 0px rgba(0, 0, 0, 0.25)); filter: drop-shadow(-40px -40px 0px rgba(0, 0, 0, 0.25)); border-radius: 25px; }

#about-us .content__title::after { content: ''; position: absolute; bottom: -5px; left: -5px; z-index: -1; display: block; width: 128px; height: 50px; background-image: url("../assets/marking2.svg"); background-size: contain; background-repeat: no-repeat; }

#portfolio.container { -ms-grid-columns: 5fr 6fr; grid-template-columns: 5fr 6fr; gap: 40px; }

#portfolio .content__title::after { content: ''; position: absolute; bottom: -5px; left: -5px; z-index: -1; display: block; width: 128px; height: 50px; background-image: url("../assets/marking3.svg"); background-size: contain; background-repeat: no-repeat; }

#portfolio .portfolio__see-images { position: relative; width: 100%; height: 100%; background-image: url("../assets/image-portfolio.png"); background-repeat: no-repeat; background-size: cover; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; border-radius: 25px; }

#portfolio .portfolio__see-images:hover::after { background-color: rgba(66, 75, 53, 0.5); }

#portfolio .portfolio__see-images::after { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 0; background-color: rgba(66, 75, 53, 0.75); border-radius: 25px; -webkit-transition: background-color 500ms; transition: background-color 500ms; }

#portfolio .portfolio__see-images .see-image__button { z-index: 2; }

#testimony { background: #424b35; }

#testimony .testimony__title { max-width: -webkit-max-content; max-width: -moz-max-content; max-width: max-content; margin: 0 auto; }

#testimony .testimony__title::after { content: ''; position: absolute; bottom: -5px; left: -5px; z-index: -1; display: block; width: 128px; height: 50px; background-image: url("../assets/marking2.svg"); background-size: contain; background-repeat: no-repeat; }

#testimony .card-control { margin: 30px auto 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; gap: 20px; }

#testimony .card-control__control { cursor: pointer; background: #673025; width: 20px; height: 20px; border-radius: 50%; }

#testimony .card-control__control.active { cursor: default; background: #a83b24; }

#testimony .card-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; gap: 50px; margin: 94px auto 0; }

#testimony .card-container .card { position: relative; width: 250px; height: 230px; padding: 30px 20px; background: #171e13; border-radius: 25px; -webkit-transition: -webkit-box-shadow 500ms, -webkit-transform 500ms; transition: -webkit-box-shadow 500ms, -webkit-transform 500ms; transition: box-shadow 500ms, transform 500ms; transition: box-shadow 500ms, transform 500ms, -webkit-box-shadow 500ms, -webkit-transform 500ms; -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); }

#testimony .card-container .card:hover { -webkit-box-shadow: 0 8px 16px -2px rgba(0, 0, 0, 0.25); box-shadow: 0 8px 16px -2px rgba(0, 0, 0, 0.25); -webkit-transform: translate3d(0, -8px, 0); transform: translate3d(0, -8px, 0); }

#testimony .card-container .card__cover { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

#testimony .card-container .card__image { position: absolute; top: -50px; }

#testimony .card-container .card__title { font-family: "Nunito", sans-serif; font-weight: bold; font-size: 2.4rem; color: #f8ffed; margin-top: 30px; }

#testimony .card-container .card__testimony { font-size: 1.6rem; line-height: 1.5em; color: #cccccc; margin-top: 10px; }

#faq .faq__title { max-width: -webkit-max-content; max-width: -moz-max-content; max-width: max-content; margin: 0 auto; }

#faq .faq__title::after { content: ''; position: absolute; bottom: -5px; left: -5px; z-index: -1; display: block; width: 128px; height: 50px; background-image: url("../assets/marking3.svg"); background-size: contain; background-repeat: no-repeat; }

#faq .faq-container { margin-top: 40px; }

#faq .faq-container .question { cursor: pointer; background: #424b35; border-radius: 25px; padding: 30px; max-width: 960px; margin: 0 auto; }

#faq .faq-container .question + .question { margin-top: 30px; }

#faq .faq-container .question__header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#faq .faq-container .question__header .question__title { font: 700 2.4rem "Lato", sans-serif; }

#faq .faq-container .question--active .question__answer { max-height: 500px; margin-top: 30px; opacity: 1; visibility: visible; }

#faq .faq-container .question__answer { color: #b2b2b2; font-size: 1.6rem; line-height: 1.5em; max-height: 0; opacity: 0; visibility: hidden; transform-box: max-height, visibility, margin-top, line-height; -webkit-transition-duration: 500ms; transition-duration: 500ms; -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); }
/*# sourceMappingURL=style.css.map */